body, input, select, textarea, button, table, th, td, label, h1, h2, h3, h4, h5, h6, div, span {
  font-family: 'Courier New', Courier, monospace !important;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.loader {
  border: 6px solid #e3f2fd;
  border-top: 6px solid #1976d2;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}